  
.body {
    background-color: #fafafaa9;
}

.nav-top {
    height: 63px; 
    background-color: rgba(247, 239, 239, 0.897) !important; 
    border-top:0.5px solid #8582823d; 
    border-bottom:1px solid #d3cccc3a;
}
.nav-container {
    padding-left: 45% !important; 
    padding-right: 45% !important;
}
.rast{
    padding-left: 30% !important; 
    padding-right: 30% !important;
    text-align: center;
    margin-top: 130px;
}
.text{
    padding-left: 30% !important; 
    padding-right: 30% !important;
    text-align: center;
    margin-top: 20px;
}
.form{
    padding-left: 30% !important; 
    padding-right: 30% !important;
    text-align: center;
    height: 100px;
}
.rastreio{
   
    text-align: center;
    height: 60px;
    width: 200px;
    text-align: center;
  
    
}
.rastreie{
   
    text-align: center;
    height: 60px;
    width: 200px;
    padding:0px;
    text-decoration: none;
    text-align:center;	
    color:rgb(37, 39, 43);
    background: rgb(152, 156, 175) 
    center center;
    
}